

html,body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.box{
    height:90%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}
.box-testimonial{
  height:300px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}

.img-fluid{
 width:60%;
 object-fit: cover;
  
}
.rashee{
  width:60%;
  object-fit: cover;
}
@media screen and (max-width:795px){
  .img-fluid{
    width: 200px;
    height: 200px;
  }
  .box-testimonial{
    height: 400px;
  } 
   .reference{
    padding-top: 10px;
  }
}
h3{
    font-family: Lobster;
    color: yellowgreen;
    font-size: 2rem;
    margin-bottom: 20px;
}

.box p{
    color: white;
    font-size: 1.1rem;
}

h1{
  font-family: Cookie;
  color: pink;
}

h2{
  color: pink;
  padding-bottom: 20px;
}

#block{

  font-size: larger;
}

 #home{
  background:
  /* top, transparent red, faked with gradient */ linear-gradient(
    /* rgba(221, 201, 201, 0.45),
    rgba(0, 0, 0, 0.45) */
  ),
  /* bottom, image */ url(/images/images\ \(3\).jpg);
/* background-size: cover;
background-attachment: fixed; */
 }

#about{
  background:
  /* top, transparent red, faked with gradient */ linear-gradient(
    /* rgba(221, 201, 201, 0.45),
    rgba(0, 0, 0, 0.45) */
  ),
  /* bottom, image */ url(/images/images\ \(3\).jpg);
/* background-size: cover;
background-attachment: fixed; */
}

#projects{
  background:
  /* top, transparent red, faked with gradient linear-gradient( */
    /* rgba(221, 201, 201, 0.45),
    rgba(0, 0, 0, 0.45)
  ), */
  /* bottom, image */ url(/images/images\ \(3\).jpg);
/* background-size: cover;
background-attachment: fixed; */
} 

#body{
  background:
  /* top, transparent red, faked with gradient */ linear-gradient(
    rgba(221, 201, 201, 0.45),
    rgba(0, 0, 0, 0.45)
  ),
  /* bottom, image */ url(/images/images\ \(3\).jpg);
background-size: cover;
background-attachment: fixed;
}
.info{
  background:
  /* top, transparent red, faked with gradient */ linear-gradient(
    rgba(221, 201, 201, 0.45),
    rgba(0, 0, 0, 0.45)
  ),
  /* bottom, image */ url(/images/images\ \(3\).jpg);
background-size: cover;
background-attachment: fixed;
border: none;
}
.table{
  border: none !important;
}

#table{
  background:
  top, transparent red, faked with gradient 
   linear-gradient(
    rgba(221, 201, 201, 0.3),
    rgb(144, 175, 206)
  ),
  bottom, image  
 url(/images/images\ \(3\).jpg);
background-size: cover;
background-attachment: fixed;
}

#navbar{
  background:
  /* top, transparent red, faked with gradient */ linear-gradient(
    rgba(221, 201, 201, 0.45),
    rgba(0, 0, 0, 0.45)
  ),
  /* bottom, image */ url(/images/images\ \(3\).jpg);
background-size: cover;
background-attachment: fixed;
}
#navraj{
  align-content: space-between;
  display: flex;
  font-size: larger;
  font-weight: 600;
}

#block{
  background:
  /* top, transparent red, faked with gradient */ linear-gradient(
    rgba(221, 201, 201, 0.45),
    rgba(0, 0, 0, 0.45)
  ),
  /* bottom, image */ url(/images/images\ \(3\).jpg);
background-size: cover;
background-attachment: fixed;
}

.form-wrapper {
  width: 60%;
  margin: auto;
  padding-bottom: 2em;
}

/* link on hover */

.navbar a:hover{
  color: pink !important;
  
  transform: scale(1.1, 1.1);
}

/* @media only screen and (max-width:425px ) {
  #box {
    width: 100px;
  }
} */

/* @media only screen and (max-width:375px){
  .box-testimonial{
    width: 250px;
  }
} */


@media all and (max-width:768px) {
  .box-testimonial{
    height:300px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
  }
  .reference{
    padding-top: 10px;
  }
  .img-fluid{
    width:200px;
    object-fit: cover;
     
   }
  
}
@media all and (max-width:567px) {
  .box-testimonial{
    height:300px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
  }
  .reference{
    padding-top: 10px;
  }
  .img-fluid{
    width:200px;
    object-fit: cover;
     
   }
}
@media all and (max-width:400px) {
  .box-testimonial{
    height:auto;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
  }
  .reference{
    padding-top: 10px;
  }.img-fluid{
    width:200px;
    object-fit: cover;
     
   }
}
@media (max-width:350px) {
  .box-testimonial{
    width: 300px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
  
  }
  .reference{
    padding-top: 10px;
  }.img-fluid{
    width:200px;
    object-fit: cover;
     
   }
}

.heart{
  color: pink;
  position: absolute;
  left: 12px;
  top: 35px;
}